@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Holtwood+One+SC&display=swap');
html, body{
    width: 100%;
    height: 90%; 
    display: flex;
    background-color: #FEFEE3;
    font-family: 'Holtwood One SC', serif;
}
.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color:#FEFEE3;
    color: #132A13;
}

h1 {
    position: absolute;
    top: 100px;
    font-size: 60px;
}
img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #dbabab;
}

.restart {
    width: 10%;
    height: 10%;
    border: none;
    border-radius: 50px;
    background-color: #dbabab;
    position: absolute;
    top: 280px;
}

.scoreboard {
    margin-top: 50px;
    position: absolute;
    top: 300px;
}

.scoreboard p {
    font-size: 40px;
    margin-bottom: 5px;
}

#aScore{
    color: #15616D;
    text-align: center;
}